
/*********************/

@media screen and (max-width: 767px) {
    .nav-item-link {
        width: 100%;
        font-size: 20px;
        display: block;
    }

    #navigation-links {
        border-left: solid 3px rgb(182, 182, 182);
        background-color: rgb(255, 255, 255);
        position: fixed;
        z-index: 125;
        padding: 0;
        margin: 0;
        height: 100vh;
        width: 40vw;
    }

    #navigation-links li {
        display: block;
        height: fit-content;
    }

    .popup{
        left: -103px;
        top: -10%;
        width: 13rem;
    }

    #management-popup{
        top: -20% !important;
    }

    .pointer::before{
        top: 10%;
        left: 107%;
        transform: translateX(-50%);
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 20px solid #555;
    }

    .pointer::after{
        top: 10%;
        left: 105%;
        transform: translateX(-50%);
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 20px solid rgb(255, 254, 254);
    }

    .fa-caret-down {
        transform: rotate(90deg);
    }


    #registration-container #form-container {
        width: 100vw !important;
    }
}
