header {
    border-bottom: 2px gray solid;
}

#navigation-links {
    align-items: center;
    list-style: none;
    margin: 0;
}

.nav-item-link {
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    display: flex;
    align-items: center;
    width: fit-content;
    color: black;
}

#navigation-links li {
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-item-link:hover {
    color: rgb(0, 85, 255);
}

.page-load {
    right: -310px;
}

.show-m-nav{
    right: 0px;
    animation: openNavigation 1s;
}

.close-m-nav{
    right: -310px;
    animation: closeNavigation 1s;
}

/*
    ADDITIONAL FOR HEADER:
*/
.nav-button-toggle{
    position: absolute;
    display: none;
}

.nav-toggler{
    position:relative;
    cursor: pointer;
}
.pointer{
    position: relative;
}

.pointer::before{
    content: "";
    z-index: -1;
    width: 0;
	height: 0;
    position: absolute;
    top:-7%;
    left: 50%;
    transform: translateX(-50%);
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid #555;
}
.pointer::after{
    content: "";
    z-index: -1;
    width: 0;
	height: 0;
    position: absolute;
    top:-5%;
    left: 50%;
    transform: translateX(-50%);
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 19px solid rgb(255, 254, 254);
}

.popup{
    display: none;
    position: absolute;
    left: 50%;
    border: 1px solid #555;
    border-radius:0.33rem;
    top: 100%;
    color: black;
    transform: translateX(-50%);
    width: 10rem;
    opacity: 1;
    transition: all 300ms ease-out;
}

.popup.fade{
    transition: all 300ms ease-in;
    opacity: 0;
}

.nav-button-toggle:checked + .nav-toggler .popup{
    display: block;
}

/********************************/


@keyframes openNavigation{
    from {right: -310px;}
    to {right: 0px;}
}

@keyframes closeNavigation{
    from {right: 0px;}
    top {right: -310px;}
}

#nav-bg, #popup-bg{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
}

#popup-bg{
    background-color: rgb(161, 161, 161);
    z-index: -1;
}

#m-close-nav{
    height: 68px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

@media screen and (max-width: 767px) {
    .nav-item-link {
        width: 100%;
        font-size: 20px;
    }

    #navigation-links {
        border-left: solid 3px rgb(182, 182, 182);
        background-color: rgb(255, 255, 255);
        position: fixed;
        z-index: 2;
        padding: 0;
        margin: 0;
        height: 100vh;
        width: 40vw;
    }
}
