header {
    border-bottom: 2px gray solid;
}

#navigation-links {
    align-items: center;
    list-style: none;
    margin: 0;
}

.nav-item-link {
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    display: flex;
    align-items: center;
    width: fit-content;
    color: black;
}

.nav-item-link:hover {
    text-decoration: underline;
}
#navigation-links li {
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-item-link:hover {
    color: rgb(0, 85, 255);
}

.page-load {
    right: -310px;
}

.show-m-nav{
    right: 0px;
    animation: openNavigation 1s;
}

.close-m-nav{
    right: -310px;
    animation: closeNavigation 1s;
}

/*
    POPUP FOR HEADERS
*/
.nav-button-toggle{
    position: absolute;
    display: none;
}

.nav-toggler{
    position:relative;
    cursor: pointer;
}
.pointer{
    position: relative;
}

.pointer::before{
    content: "";
    z-index: -1;
    width: 0;
	height: 0;
    position: absolute;
    top:-7%;
    left: 50%;
    transform: translateX(-50%);
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid #555;
}
.pointer::after{
    content: "";
    width: 0;
	height: 0;
    position: absolute;
    top:-5%;
    left: 50%;
    transform: translateX(-50%);
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 19px solid rgb(255, 254, 254);
}

.popup{
    display: none;
    position: absolute;
    left: 50%;
    top: 100%;
    z-index: 120;
    border: 1px solid #555;
    border-radius:0.33rem;
    color: black;
    transform: translateX(-50%);
    width: 10rem;
    opacity: 1;
    transition: all 300ms ease-out;
}

.popup.fade{
    transition: all 300ms ease-in;
    opacity: 0;
}

.nav-button-toggle:checked + .nav-toggler .popup{
    display: block;
}

/********************************/

/*****For Spreading the link*****/
.categ-link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.categ-link:hover {
    color: rgb(104, 103, 103);
    text-transform: uppercase;
}

.categ-link::after {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
    transition: 0.3s;
    opacity: 0;
}

.categ-link:hover::after {
    background-color: black;
    opacity: 0.3;
}

.categ-link, .categ-link::after{
    transition:all 0.3s ease-in-out;
}

/*******************/

@keyframes openNavigation{
    from {right: -310px;}
    to {right: 0px;}
}

@keyframes closeNavigation{
    from {right: 0px;}
    top {right: -310px;}
}

#nav-bg, #popup-bg{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 120;
    background-color: black;
    opacity: 0.5;
}

#m-close-nav{
    height: 68px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

/*****FOOTER CSS*****/



footer {
    padding: 40px 0;
    color: #4b4c4d;
    background-color: rgb(82 82 82 / 3%);
    border-top: 1px #797979 solid;
}

footer ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

footer ul a:hover {
    opacity: 1;
}

footer .social {
    text-align: center;
    padding-bottom: 25px;
    height: fit-content;
}

footer .social a {
    font-size: 2.5rem;
    text-decoration: none;
    height: 4rem;
    width: 4rem;
    text-align: center;
    color: inherit;
    border-radius: 50px;
    margin: 0px 10px;
    transition-duration: 150ms
}

footer .social a:hover {
    font-size: 3rem;
}

footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}

#hero-banner {
    background-image: url('../images/hero-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.205);
    background-blend-mode: multiply;
    height: 40vh;
}

#main-content {
    display: flex;
    justify-content: center;
    margin: 2rem 0rem;
}

#main-content .main-child{
    justify-content: space-between;
    width: 85vw;
    margin: 5rem 0rem 5rem 0rem;
}

#main-content .block-content {
    display: flex;
    align-items: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

#main-content div:nth-child(1){
    margin-top: 0;
}

#main-content div:nth-child(2){
    margin-bottom: 0;
}

.img-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#main-content .main-child .img-container {
    height: 350px;
    border-radius: 10px;
    box-shadow: 1px 6px 19px 3px rgba(0,0,0,0.58);
    -webkit-box-shadow: 1px 6px 19px 3px rgba(0,0,0,0.58);
    -moz-box-shadow: 1px 6px 19px 3px rgba(0,0,0,0.58);
    transition-duration: 350ms;
}

#main-content .main-child .img-container:hover {
    height: 400px;
}

.block-content a{
    text-decoration: none;
}

.block-content a:hover {
    text-decoration: underline;
}
.error-message {
    color: red;
}
